 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header style */
.header{
  background-image: url(../developer.png), url(../header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}




/* nav style */
 

 .nav-title{
  font-size: 45px;
  font-weight: 800px;
 }
 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
margin: 0px 200px;
 }

 nav ul li {
  list-style: none;
   margin-left: 50px;
 }
 nav ul li a {
   text-decoration: none;
   font-size: 20px;
   
 }

 nav ul {
  display: flex;
  align-items: center;
 }
  
/* shared style */
.ex-ed{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
}

.semi-20{
  font-weight: 400px;
  font-size: 20px;
  color: #757575;
}
.regular-16{
  font-weight: 400;
  font-size: 16;
  color: #757575;
}


.text-center{
  text-align: center;
}


 .marry{
  color: #FD6E0A;
 }

 .dark-2{
  color: #474747;
 }
 .dark-3{
  color: #757575;
 }
.section-title{
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}
.section-description{
  font-weight: 500px;
  font-size: 18px;
}
.second-bg{
  background-color: #FFF8F3;
}

 .btn-primary {
  background-color: #FD6E0A;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  }

  /* banner style */
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
  }

  .bannwe-greet{
    font-size: 45px;
    font-weight: 600px;
  }
  .banner-title{
    font-size: 80px;
    font-weight: bold;
  }

.banner-description{
  font-size: 18px;
  font-weight: 500px;
}
.banner-profile-pic{
  width: 580px;
  height: 670px;
}
.banner-content{
  max-width: 580px;
}

/* main style */
main{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 130px;

}
/* about style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-description{
  font-weight: bold;
  font-size: 20px;
}
.item-title{
  font-weight: 500;
  font-size: 20px;
}
/* skills section style */

.skill-contain{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgb(240, 199, 150);
   border-radius: 5px;
}
 

/* resume style */

.resume-contain{
  display: flex;
  gap: 24px;
}
.resume hr {
  margin: 30px 5px;

}
.margin-tp{
  margin-top: 50px;
}