 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header style */
.header{
  background-image: url(../developer.png), url(../header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}




/* nav style */
 

 .nav-title{
  font-size: 45px;
  font-weight: 800px;
 }
 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
margin: 0px 200px;
 }

 nav ul li {
  list-style: none;
   margin-left: 50px;
 }
 nav ul li a {
   text-decoration: none;
   font-size: 20px;
   
 }

 nav ul {
  display: flex;
  align-items: center;
 }
  
/* shared style */


 .marry{
  color: #FD6E0A;
 }

 .dark-2{
  color: #474747;
 }
 .dark-3{
  color: #757575;
 }


 .btn-primary {
  background-color: #FD6E0A;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  }

  /* banner style */
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
  }

  .bannwe-greet{
    font-size: 45px;
    font-weight: 600px;
  }
  .banner-title{
    font-size: 80px;
    font-weight: bold;
  }

.banner-description{
  font-size: 18px;
  font-weight: 500px;
}
.banner-profile-pic{
  width: 580px;
  height: 670px;
}
.banner-content{
  max-width: 580px;
}